.header-container {
  border-bottom: 1px solid black;
}

.header {
  padding: 1rem;
  margin : 0;
}

.links {
  padding: 1rem;
}

.link {
  color          : black;
  padding        : 1rem;
  text-decoration: none;
}

.active {
  border-bottom: 2px solid black;
}